<%= link_to 'Back', @project, class:'back' %>
<div id="edit">
	<%= render 'form' %>
</div>

<div id="frame"><span class="title">Preview</span>
	<iframe id="preview">
	</iframe>
</div>

<%= render 'script'%>