<%= link_to 'Back', @project, class:'back' %>
<div id="edit">
	<%= render 'form' %>
</div>

<div id="frame"><span class="title">Preview</span>
<iframe id="preview">
</iframe>
</div>

<script>
	var delay
	var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
		lineNumbers: true,
		lineWrapping: true,
	    matchBrackets: true,
	    mode: "htmlmixed",
	    indentUnit: 4,
	    indentWithTabs: true,
	    enterMode: "keep",
	    tabMode: "shift",
	    electricChars: true,
	});
	editor.setSize(614,500);
	editor.on("change", function() {
        clearTimeout(delay);
        delay = setTimeout(updatePreview, 300);
    });
      
    function updatePreview() {
        var previewFrame = document.getElementById('preview');
        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
        preview.open();
        preview.write(editor.getValue());
        preview.close();
    }
      setTimeout(updatePreview, 300);
    
    $(function() {
       $( "#frame" ).draggable();
  	});
</script>