<%= link_to (image_tag 'back.png', class:'thumbnail'), @project, class:'back' %>
<div id="new">
	<%= render 'form' %>
</div>

<div id="frame"><span class="title">Preview</span>
<iframe id="preview">
</iframe>
</div>

<%= render 'script'%>